Ejercicio 1

In [2]:
# Crea un diccionario llamado planet con los datos propuestos

planet = {
    'name': 'Mars',
    'moons': 2
}

# Muestra el nombre del planeta y el número de lunas que tiene.
print(f'{planet["name"]} has {planet["moons"]} moons')

# Agrega la clave circunferencia con los datos proporcionados previamente
planet['circumference (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

# Imprime el nombre del planeta con su circunferencia polar.
print(f'{planet["name"]} has a polar circumference of {planet["circumference (km)"]["polar"]}')

Mars has 2 moons
Mars has a polar circumference of 6752

### Ejercicio 2

In [3]:
# Añade el código para determinar el número de lunas.
# Planets and moons 

planet_moons  =  { 
    'mercury' :  0 , 
    'venus' :  0 , 
    'earth' :  1 , 
    'mars' :  2 , 
    'jupiter' :  79 , 
    'saturn' :  82 , 
    'uranus' :  27 , 
    'neptune' :  14 , 
    'pluto' :  5 , 
    'haumea' :  2 , 
    'makemake' :  1 , 
    'eris' :  1 
} 
# Obtenemos la lista de las lunas
# Almacenamos los resultados en una variable moons
moons = planet_moons.values()

# Obtenemos el total de planetas
# Almacenamos los resultados en una variable llamada years
planets = len(planet_moons.keys())

# Calcula el total_moons agregando todas las lunas
# Almacena su valor en una variable llamada total_moons

total_moons = 0
for moon in moons:
    total_moons = total_moons + moon
print ( 'Number total moons:' , total_moons ) 

planets  =  len ( planet_moons ) 
print ( 'Number total planets :' ,  planets ) 

# Calcula el promedio dividiendo el total_moons por el número de planetas
average = total_moons / planets

# Muestra el promedio
print('total average:' , average)

Number total moons: 214
Number total planets : 12
total average: 17.833333333333332